@import "src/common/global-styles/colors.scss";

.heading {
  text-align: center;
}

.heading--1 {
  font-size: 55px;

  &.heading--sm {
    font-size: 45px;
  }
}

.heading--2 {
  font-size: 45px;

  &.heading--sm {
    font-size: 40px;
  }
}

.heading--3 {
  font-size: 40px;

  &.heading--sm {
    font-size: 35px;
  }
}

.heading--5 {
  font-size: 35px;

  &.heading--sm {
    font-size: 25px;
  }
}

.heading--5 {
  font-size: 25px;

  &.heading--sm {
    font-size: 20px;
  }
}

.heading--6 {
  font-size: 20px;

  &.heading--sm {
    font-size: 15px;
  }
}
