.item-card {
  position: relative;
  height: fit-content;

  &__container {
    min-height: 80px;
    flex-direction: row !important;
    justify-content: space-between !important;
    border-radius: 5px;
    padding: 14px;
    box-sizing: border-box;
    &__info {
      width: 300px;
      display: flex;
      flex-direction: column;
      &__dsc {
        font-size: 14px;
        line-height: 16px;
      }
      &__subdsc {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }

  &--sm {
    .item-card {
      &__container {
        min-height: 120px;
        &__info {
          width: 100px;
          &__dsc {
            overflow: hidden;
            text-overflow: ellipsis;
          }
          &__subdsc {
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}
